core-cpp/logging/share/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  UK Crown Copyright (c) 2016. All Rights Reserved
-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">

  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="default" maxOccurs="1" minOccurs="0" type="default-ref"/>
        <xs:element maxOccurs="1" minOccurs="0" name="syslog" type="syslog-config"/>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element name="logger" type="logger-def"/>
          <xs:element name="pattern" type="pattern-def"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="logger-name">
      <xs:selector xpath="logger"/>
      <xs:field xpath="name"/>
    </xs:key>
    <xs:keyref name="logger-ref" refer="logger-name">
      <xs:selector xpath=".//logger|./default"/>
      <xs:field xpath="@name"/>
    </xs:keyref>
    <xs:key name="pattern-name">
      <xs:selector xpath="pattern"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="pattern-ref" refer="pattern-name">
      <xs:selector xpath=".//format/pattern"/>
      <xs:field xpath="@ref"/>
    </xs:keyref>
  </xs:element>
  <xs:complexType name="default-ref">
     <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:group name="substitution-elements">
    <xs:choice>
      <xs:element name="name"/>
      <xs:element name="cmd"/>
      <xs:element name="pid"/>
      <xs:element name="host"/>
      <xs:element name="user"/>
      <xs:element name="env">
        <xs:complexType>
          <xs:attribute name="name" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="default" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="param">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="default" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:complexType name="substitution-text" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="substitution-elements"/>
    </xs:choice>
  </xs:complexType>
  <xs:group name="pattern-elements">
    <xs:choice>
      <xs:element name="message"/>
      <xs:element name="timestamp">
        <xs:complexType>
          <xs:attribute name="decimal" type="decimal" default="micros"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="year"/>
      <xs:element name="month">
        <xs:complexType>
          <xs:attribute name="pad" type="pad" default="zero"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="day">
        <xs:complexType>
          <xs:attribute name="pad" type="pad" default="zero"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="monthname">
        <xs:complexType>
          <xs:attribute name="format" type="abbrev" default="full"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="dayname">
        <xs:complexType>
          <xs:attribute name="format" type="abbrev" default="full"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="hour">
        <xs:complexType>
          <xs:attribute name="clock" default="24">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:enumeration value="24"/>
                <xs:enumeration value="12"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="am-pm">
        <xs:complexType>
          <xs:attribute name="case" default="upper">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="upper"/>
                <xs:enumeration value="lower"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="minute"/>
      <xs:element name="second">
        <xs:complexType>
          <xs:attribute name="decimal" type="decimal" default="micros"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="timezone">
        <xs:complexType>
          <xs:attribute name="format" default="iso8601">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="iso8601"/>
                <xs:enumeration value="rfc"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="logger"/>
      <xs:element name="priority">
        <xs:complexType>
          <xs:attribute name="format" type="abbrev" default="full"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>



  <xs:simpleType name="decimal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="micros"/>
      <xs:enumeration value="millis"/>
      <xs:enumeration value="tenths"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="abbrev">
    <xs:restriction base="xs:string">
      <xs:enumeration value="full"/>
      <xs:enumeration value="abbreviated"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="zero"/>
      <xs:enumeration value="space"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="pattern-text" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="substitution-elements"/>
      <xs:group ref="pattern-elements"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="logger-def">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="level" type="level" minOccurs="0"/>
      <xs:group ref="channel" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pattern-def">
    <xs:complexContent>
      <xs:extension base="pattern-text">
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="channel">
    <xs:choice>
      <xs:element name="filter" type="filter"/>
      <xs:element name="format" type="format"/>
      <xs:element name="async" type="async"/>
      <xs:element name="logger" type="logger-ref"/>
      <xs:element name="file" type="file"/>
      <xs:element name="syslog"/>
      <xs:element name="stdout"/>
      <xs:element name="stderr"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="filter">
    <xs:sequence>
      <xs:element name="minlevel" type="level" minOccurs="0" />
      <xs:element name="maxlevel" type="level" minOccurs="0" />
      <xs:group ref="channel" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="format">
    <xs:sequence>
      <xs:element name="pattern">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="pattern-text">
              <xs:attribute name="ref" type="xs:string"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:group ref="channel" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="file">
    <xs:sequence>
      <xs:element name="path" type="substitution-text"/>
      <xs:element minOccurs="0" name="archive">
        <xs:complexType>
          <xs:all>
            <xs:element name="rotate">
              <xs:complexType>
                <xs:choice>
                  <xs:element name="timed">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(((Mon|Tue|Wed|Thu|Fri|Sat|Sun),)?(\d\d))?:\d\d"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="periodic">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:integer">
                          <xs:attribute name="units" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="minutes"/>
                                <xs:enumeration value="hours"/>
                                <xs:enumeration value="days"/>
                                <xs:enumeration value="weeks"/>
                                <xs:enumeration value="months"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="size">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:integer">
                          <xs:attribute name="units">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="B"/>
                                <xs:enumeration value="KiB"/>
                                <xs:enumeration value="MiB"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="extension">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="number"/>
                  <xs:enumeration value="timestamp"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="compress" type="xs:boolean"/>
            <xs:element minOccurs="0" name="purge">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:integer">
                    <xs:attribute name="units" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="count"/>
                          <xs:enumeration value="seconds"/>
                          <xs:enumeration value="minutes"/>
                          <xs:enumeration value="hours"/>
                          <xs:enumeration value="days"/>
                          <xs:enumeration value="weeks"/>
                          <xs:enumeration value="months"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="async">
    <xs:group ref="channel" minOccurs="0" maxOccurs="unbounded"/>
  </xs:complexType>
  <xs:complexType name="logger-ref">
    <xs:attribute name="ref" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="level">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fatal"/>
      <xs:enumeration value="critical"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="warning"/>
      <xs:enumeration value="notice"/>
      <xs:enumeration value="information"/>
      <xs:enumeration value="debug"/>
      <xs:enumeration value="trace"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="syslog-config">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="ident" type="substitution-text"/>
      <xs:element maxOccurs="1" minOccurs="0" name="facility" type="facility"/>
      <xs:element maxOccurs="1" minOccurs="0" name="console" type="empty"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ndelay" type="empty"/>
      <xs:element maxOccurs="1" minOccurs="0" name="perror" type="empty"/>
      <xs:element maxOccurs="1" minOccurs="0" name="pid" type="empty"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="facility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auth"/>
      <xs:enumeration value="authpriv"/>
      <xs:enumeration value="cron"/>
      <xs:enumeration value="daemon"/>
      <xs:enumeration value="ftp"/>
      <xs:enumeration value="kern"/>
      <xs:enumeration value="local0"/>
      <xs:enumeration value="local1"/>
      <xs:enumeration value="local2"/>
      <xs:enumeration value="local3"/>
      <xs:enumeration value="local4"/>
      <xs:enumeration value="local5"/>
      <xs:enumeration value="local6"/>
      <xs:enumeration value="local7"/>
      <xs:enumeration value="lpr"/>
      <xs:enumeration value="mail"/>
      <xs:enumeration value="news"/>
      <xs:enumeration value="syslog"/>
      <xs:enumeration value="user"/>
      <xs:enumeration value="uucp"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="empty"/>
</xs:schema>
